@import "tailwindcss";

* {
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: manipulation;
}

html {
  touch-action: manipulation;
}
